/* styles */
body {
	background: #333 url("img/sparrow.png") no-repeat right bottom;
	background-size: cover;
	color: #fff;
	min-height: 700px;
}

.left,.right{
float:left;
width:50%;
text-align:center;
}

.container{
	width:60%;
	margin:0 auto;
}

.container > ul {
	position: absolute;
	left: 0;
}

.game{
	width:80%;
	min-height: 400px;
	margin:0 auto;
	position: relative;
	background: #fff;
	border-radius: 10px;
	opacity: 0.75;
}
.game:after {
	left: 100%;
	top: 90%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #fff;
	border-width: 15px;
	margin-top: -30px;
}

a{
text-decoration: none;
color:#FFF;
outline:0;
padding: 10px 15px;
}

a:hover,a:focus{
	border: 1px dashed #fff;
}

ul {
   list-style-image: url('img/skull.png');
   text-align: left;
	width:50%;
	margin: 0 auto;
}

li {
	float:left;
	clear:both;
}